
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="card-title">{{ Character.Name }}</h1>    <!--use context Character from view for model, and fetches the data from the character database, with name and other attributes-->
            <h5 class="text-muted">Author: {{ Character.Author }}</h5> <!--text-muted from bootstrap added for better style-->
            <h5 class="text-muted">Universe: {{ Character.UniverseNumber.Name }} ({{ Character.UniverseNumber.UniverseNumber|stringformat:"03d" }})</h5> <!--Use the UniverseNumber foreign key to fetch Universe information for the character and use stringformat:"03d" to ensure its 3 digits atleast-->
            <p class="mt-3">{{ Character.CharacterDescription }}</p>

            <a href="{% url 'CharacterArticles' %}" class="btn btn-primary mt-3">Back to Character List</a> <!--a go back button-->
            {% if Character.Author == User %}
            <a href="{% url 'CharacterUpdate' Character.id %}" class="btn btn-primary mt-3">Edit Character</a> <!--Allow the author to update their character-->
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
