
{% extends "base.html" %}

{% block title %}Welcome to the Ascorium Library{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-light jumbotron">
  <div class="container">
    <h1 class="display-5 fw-bold">Welcome to the Ascorium Library</h1>
    <p class="col-md-8 fs-4">Find and read about your favorite characters from the Ascorium</p>
  </div>
</div>

<table border="1">
  <tr><th>Name</th><th>Universe Number</th><th>Universe Description</th></tr>
  {% for UE in universe %}
  <tr>
    
    <td>{{UE.Name}}</td>
    <td>{{UE.UniverseNumber}}</td>
    <td>{{UE.UniverseDescription}}</td>
    <button name="UPDATE">UPDATE</button>
    <button name="UPDATE">DELETE</button>
  </tr>
  {% empty %}
  <tr><td colspan="3">No data found</td></tr>
{% endfor %}
</table>

{% endblock %}


