{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <h2>Update your Universe</h2>
    
    <form method="post">
        {% csrf_token %} <!--csrf token for security-->
        {{ form|crispy }}  <!--the form to update a Universe-->
        <button type="submit" class="btn btn-success color-button-Submit">Update Universe</button> <!---button to attempt to update Universe-->
        <a href="{% url 'UniverseArticles' %}" class="btn btn-secondary color-button-Cancel">Cancel</a>  <!--a button to go back and cancel the attempt to update a Universe-->
    </form>
</div>
{% endblock %}